@{
    ViewData["Title"] = "Mantenimiento de series";
}
@using ITLA_TV.Core.Application.ViewModels.Series;
@model List<SerieViewModel>;

<div class="container-fluid">
    <div class="row mx-auto col-12  mb-3 d-flex col-md-10 justify-content-end">
        <div class="col-12 col-md-4">
            <a asp-controller="Serie" asp-action="Create" class="w-100 mx-auto btn btn-outline-success">Agregar serie</a>

        </div>
    </div>


    <div class="row mx-auto col-12 col-md-10  col-xl-10 offset-xl-1 offset-md-1">
        @if (Model?.Count == 0 || Model == null)
        {
            <h4>No hay series.</h4>
        }
        else
        {
            @foreach (var i in Model)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                    <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
                        <div class="position-relative">
                            <img class="img-product-size card-img-top" src="@i.ImagePath" alt="@i.Name" />
                            <div class="position-absolute top-0 end-0 m-2">
                                <span class="badge bg-primary text-light p-2">@i.PrimaryGender</span>
                                @if (!string.IsNullOrEmpty(i.SecondaryGender))
                                {
                                    <span class="badge bg-secondary text-light p-2">@i.SecondaryGender</span>
                                }
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="fw-bold">@i.Name</h5>
                            <p class="text-muted fs.4">@i.ProducerName</p>
                            <div class="d-flex justify-content-center gap-2 mt-2">
                                <a asp-controller="Serie" asp-action="Edit" asp-route-id="@i.Id" class="btn btn-sm btn-warning text-dark rounded-pill px-3">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a asp-controller="Serie" asp-action="Delete" asp-route-id="@i.Id" class="btn btn-sm btn-danger rounded-pill px-3">
                                    <i class="fas fa-trash-alt"></i> Borrar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>
